# Rules
#--self insert
--stripunusedargs closure-only
#--header 

# Disabled Rules
--disable self # just because it'll introduce a huge PR right now
--disable specifiers # because it isn't configurable

# File Exclusions
--exclude Pods
--exclude Package.swift