name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  PACKAGE_NAME: BarcodeHero
  XCODEBUILD_WORKSPACE: BarcodeHero.xcworkspace
  XCODEBUILD_SCHEME: BarcodeHero
  DEVELOPER_DIR: /Applications/Xcode_11.6.app/Contents/Developer
  DEPLOY_DIRECTORY: deploy

jobs:
  lint:
    name: Lint
    runs-on: macos-latest
    env:
      DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
          bundle install
          brew install swiftformat
      - name: Run Danger
        run: sh ./scripts/danger_lint.sh
  iOS:
    name: iOS ${{ matrix.os }} ${{ matrix.device_name }}
    runs-on: macos-latest
    needs: [lint]
    strategy:
      matrix:
        device_name: ["iPhone 11 Pro", "iPad Pro (11-inch) (2nd generation)"]
        os: [13.5]
        xcode_version: [11.6]
        # The keys below are included as a one-off combination
        # include:
        #   - device_name: "iPhone SE (2nd generation)"
        #     os: 13.4.1
        #     xcode_version: 11.4.1
    env:
      # Only Xcode 11.x and higher can run this project due to Swift Package Manager integration
      # This means that we cannot test versions below iOS 13, tvOS 13, etc. specifically
      DEVELOPER_DIR: "/Applications/Xcode_${{ matrix.xcode_version }}.app/Contents/Developer"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Tests
        run: sh ./scripts/xcode_build.sh "name=${{ matrix.device_name }},OS=${{ matrix.os }},platform=iOS Simulator"
      - name: Upload Step Output
        uses: actions/upload-artifact@v1
        with:
          name: "iOS ${{ matrix.os }} ${{ matrix.device_name }} Output"
          path: ${{ env.DEPLOY_DIRECTORY }}
  macOS:
    name: macOS
    runs-on: macos-latest
    needs: [lint]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Tests
        run: sh ./scripts/xcode_build.sh "platform=macOS"
      - name: Upload Step Output
        uses: actions/upload-artifact@v1
        with:
          name: "macOS Output"
          path: ${{ env.DEPLOY_DIRECTORY }}
  # TODO: Get macOS Catalyst working
  # macOS_catalyst:
  #   name: macOS Catalyst
  #   runs-on: macos-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v2
  #     - name: Run Tests
  #       run: sh ./scripts/xcode_build.sh "platform=macOS,variant=Mac Catalyst"
  #     - name: Upload Step Output
  #       uses: actions/upload-artifact@v1
  #       with:
  #         name: "macOS Catalyst Output"
  #         path: ${{ env.DEPLOY_DIRECTORY }}
  spm:
    name: SPM
    runs-on: macos-latest
    needs: [lint]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Tests
        run: sh ./scripts/swift_build.sh
      - name: Upload Step Output
        uses: actions/upload-artifact@v1
        with:
          name: "SPM Output"
          path: ${{ env.DEPLOY_DIRECTORY }}
